/* login and register */
.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  pointer-events: auto;
  background-color: transparent;
}

.modal1 {
  background-color: #000000;
  width: 400px;
  padding: 30px;
  margin-top: 10%;
  border-radius: 10px;
}

.title-modal1 {
  margin-top: 10px;
  margin-bottom: 35px;
  font-weight: 700;
  font-size: 35px;
  color: #cd2e71;
}

.form-modal1 {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 100%;
}
.noteBuyModal {
  font-size: 12px;
  color: gray;
}
.input-modal1 {
  color: "white";
  background: rgba(210, 210, 210, 0.25);
  border: 2px solid #bcbcbc;
  box-sizing: border-box;
  width: 417;
  height: 45px;
  padding: 7px;
  margin-bottom: 22px;
  border-radius: 5px;
  outline: none;
  font-size: medium;
}
.input-modal1 p {
  color: cyan;
}
.btn-modal1 {
  margin-top: 10px;
  background: #cd2e71;
  color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  width: 100%;
  height: 43px;
  font-weight: bold;
}

.pay-hero-link {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  width: 417px;
  height: 45px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 900;
  background-color: #cd2e71;
  color: #fff;
  cursor: pointer;
}

.text-modal1 {
  margin-top: 15px;
  font-weight: 550;
  text-align: center;
  color: white;
}

.text-here {
  font-weight: 900;
  text-decoration: none;
  color: white;
}

/* Buy Modal */

.total-payment {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.attach-note {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: right;
}

.modal-buy {
  background-color: black;
  width: fit-content;
  height: fit-content;
  padding: 30px;
  margin-top: 10%;
  border-radius: 10px;
}
.modal-buy h3 {
  color: white;
}
.modal-buy h4 {
  color: white;
}

.total-payment-number h4 {
  color: #cd2e71;
}

.header h3 {
  text-align: center;
  color: white;
  margin-bottom: 43px;
}
